{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "indent": ["error", 4],
    "react/jsx-indent": [2, 4, {"checkAttributes": true,"indentLogicalExpressions": true}],
    "react/require-default-props" : 0
  }
}